<section class="form lylichtuphap">
  <div class="container">
      <form [formGroup]="form888">
        <div class="form_80" style="border-radius: 10px;">
          <!-- title -->
          <div class="mat-card" style="padding: 0;">
              <div class="HeaderCenter" style="
              border-radius: 10px;">
                <span class="d-flex align-items-center flex-column"
                  style="
                  background-color: #1A8B83;
                  padding: 20px;
                  border-radius: 10px;">
                  <b class="header-title" style="color: #fff;">{{ 'FORM_888.TITLE' | translate }}</b>
                  <b class="sub-title"><i  style="color: #fff;" >{{ 'FORM_888.DESCRIPTION' | translate }}</i></b>
                </span>
              </div>
          </div>

           <!-- content -->
           <div class="mat-card">
            <div class="header-child header-a position-relative">
              <div class="stt"><span>1</span></div>
              <div class="content-header">
                <h2 class="header-title-child d-flex flex-column">{{ 'FORM_888.PHAN_1.TITLE' | translate }}
                </h2>
              </div>
            </div>

          <div class="row" style="padding-top: 15px;">

            <label class="d-block font-weight-bold mb-2 title-input">
              1. {{ 'FORM_888.PHAN_1.NAME' | translate }} <span class="request"> *</span>
            </label>

            <div class="col-md-4">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  {{ 'FORM_888.PHAN_1.FIRST_NAME' | translate }} <span class="request"> *</span>
                </label>

                <input type="text" pInputText
                  [formControlName]="'hoduongdon'"
                  [ngClass]="{'valid': form888.get('hoduongdon').invalid && (form888.get('hoduongdon').dirty || form888.get('hoduongdon').touched)}"
                  [placeholder]="placeholder"
                />
                <span class="error-message" *ngIf="this.getErrorMessage('hoduongdon') != ''">
                  {{ this.getErrorMessage('hoduongdon') }}
                </span>
              </div>
            </div>

            <div class="col-md-8">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  {{ 'FORM_888.PHAN_1.LAST_NAME' | translate }} <span class="request"> *</span>
                </label>

                <input type="text" pInputText
                  [formControlName]="'duongdon'"
                  [ngClass]="{'valid': form888.get('duongdon').invalid && (form888.get('duongdon').dirty || form888.get('duongdon').touched)}"
                  [placeholder]="placeholder"
                />
                <span class="error-message" *ngIf="this.getErrorMessage('duongdon') != ''">
                  {{ this.getErrorMessage('duongdon') }}
                </span>
              </div>
            </div>

            <label class="d-block font-weight-bold mb-2 title-input">
              2. {{ 'FORM_888.PHAN_1.NAME_BL' | translate }} <span class="request"> *</span>
            </label>

            <div class="col-md-4">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  {{ 'FORM_888.PHAN_1.FIRST_NAME' | translate }} <span class="request"> *</span>
                </label>

                <input type="text" pInputText
                  [formControlName]="'hobaolanh'"
                  [ngClass]="{'valid': form888.get('hobaolanh').invalid && (form888.get('hobaolanh').dirty || form888.get('hobaolanh').touched)}"
                  [placeholder]="placeholder"
                />
                <span class="error-message" *ngIf="this.getErrorMessage('hobaolanh') != ''">
                  {{ this.getErrorMessage('hobaolanh') }}
                </span>
              </div>
            </div>

            <div class="col-md-8">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  {{ 'FORM_888.PHAN_1.LAST_NAME' | translate }} <span class="request"> *</span>
                </label>

                <input type="text" pInputText
                  [formControlName]="'baolanh'"
                  [ngClass]="{'valid': form888.get('baolanh').invalid && (form888.get('baolanh').dirty || form888.get('baolanh').touched)}"
                  [placeholder]="placeholder"
                />
                <span class="error-message" *ngIf="this.getErrorMessage('baolanh') != ''">
                  {{ this.getErrorMessage('baolanh') }}
                </span>
              </div>
            </div>
          </div>

          <div class="header-child header-a position-relative">
            <div class="stt"><span>2</span></div>
            <div class="content-header">
              <h2 class="header-title-child d-flex flex-column">{{ 'FORM_888.PHAN_2.TITLE' | translate }}
              </h2>
            </div>
          </div>

          <div class="row" style="padding-top: 15px;">

            <label class="d-block font-weight-bold mb-2 title-input">
              3. {{ 'FORM_888.PHAN_2.NAME' | translate }} <span class="request"> *</span>
            </label>

            <div class="col-md-4">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  {{ 'FORM_888.PHAN_2.FIRST_NAME' | translate }} <span class="request"> *</span>
                </label>

                <input type="text" pInputText
                  [formControlName]="'hofullname'"
                  [ngClass]="{'valid': form888.get('hofullname').invalid && (form888.get('hofullname').dirty || form888.get('hofullname').touched)}"
                  [placeholder]="placeholder"
                />
                <span class="error-message" *ngIf="this.getErrorMessage('hofullname') != ''">
                  {{ this.getErrorMessage('hofullname') }}
                </span>
              </div>
            </div>

            <div class="col-md-8">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  {{ 'FORM_888.PHAN_2.LAST_NAME' | translate }} <span class="request"> *</span>
                </label>

                <input type="text" pInputText
                  [formControlName]="'fullname'"
                  [ngClass]="{'valid': form888.get('fullname').invalid && (form888.get('fullname').dirty || form888.get('fullname').touched)}"
                  [placeholder]="placeholder"
                />
                <span class="error-message" *ngIf="this.getErrorMessage('fullname') != ''">
                  {{ this.getErrorMessage('fullname') }}
                </span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  4. {{ 'FORM_888.PHAN_2.SEX' | translate }} <span class="request"> *</span>
                </label>
                <div class="d-flex flex-wrap gap-3 align-content-center pb-2" style="height: 100%;">
                  <div class="d-flex align-items-center">
                    <p-radioButton [formControlName]="'gender'" [value]="'Nam'"  />
                    <label for="male" class="ms-2">{{ 'FORM_888.PHAN_2.MALE' | translate }}</label>
                  </div>
                  <div class="d-flex align-items-center">
                    <p-radioButton [formControlName]="'gender'" [value]="'Nữ'"  />
                    <label for="female" class="ms-2">{{ 'FORM_888.PHAN_2.FEMALE' | translate }}</label>
                  </div>
                </div>

                <span class="error-message" *ngIf="this.getErrorMessage('gender') != ''">
                  {{ this.getErrorMessage('gender') }}
                </span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="d-flex flex-column pb-3">
                <label class="d-block font-weight-bold mb-2 title-input">
                  5. {{ 'FORM_888.PHAN_2.DATE' | translate }} <span class="request"> *</span>
                </label>
                <p-calendar placeholder="dd/mm/yyyy"
                [dateFormat]="'dd/mm/yy'"
                formControlName="date"
                (onSelect)="onDateChange($event, 'date')"
                (onInput)="onInputChange($event, 'date')"
                >
                  <ng-template pTemplate="date" let-date>
                      <span>
                          {{ date.day }}
                      </span>
                  </ng-template>
              </p-calendar>

              <span class="error-message" *ngIf="getErrorMessage('date') != ''">
                {{ getErrorMessage('date') }}
              </span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  6. {{ 'FORM_888.PHAN_2.PHONE' | translate }}
                </label>
                <input type="text" pInputText
                  [formControlName]="'phone'"
                  [placeholder]="placeholder"
                />
                <span class="error-message" *ngIf="this.getErrorMessage('phone') != ''">
                  {{ this.getErrorMessage('phone') }}
                </span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  7. {{ 'FORM_888.PHAN_2.WORK' | translate }}
                </label>
                <input type="text" pInputText
                  [formControlName]="'job'"
                  [placeholder]="placeholder"
                />
                <span class="error-message" *ngIf="this.getErrorMessage('job') != ''">
                  {{ this.getErrorMessage('job') }}
                </span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  8. {{ 'FORM_888.PHAN_2.ADDRESS' | translate }}
                </label>
                <input type="text"
                  pInputText
                  [formControlName]="'address'"
                  [placeholder]="placeholder"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  9. {{ 'FORM_888.PHAN_2.PASSPORT' | translate }}
                </label>
                <input type="text" pInputText
                  [formControlName]="'hc'"
                  [placeholder]="placeholder"
                />
                <span class="error-message" *ngIf="this.getErrorMessage('hc') != ''">
                  {{ this.getErrorMessage('hc') }}
                </span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  10. {{ 'FORM_888.PHAN_2.EMAIL' | translate }}
                </label>
                <input type="text" pInputText
                  [formControlName]="'email'"
                  [placeholder]="placeholder"
                />
                <span class="error-message" *ngIf="this.getErrorMessage('email') != ''">
                  {{ this.getErrorMessage('email') }}
                </span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  11. {{ 'FORM_888.PHAN_2.QUENBIET' | translate }}
                </label>
                <input type="number" pInputText
                  [formControlName]="'sonamquenbiet'"
                  [placeholder]="placeholder"
                />
                <span class="error-message" *ngIf="this.getErrorMessage('sonamquenbiet') != ''">
                  {{ this.getErrorMessage('sonamquenbiet') }}
                </span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  12. {{ 'FORM_888.PHAN_2.BAOLANH' | translate }}
                </label>
                <input type="number" pInputText
                  [formControlName]="'sonamquenbietdc'"
                  [placeholder]="placeholder"
                />
                <span class="error-message" *ngIf="this.getErrorMessage('sonamquenbietdc') != ''">
                  {{ this.getErrorMessage('sonamquenbietdc') }}
                </span>
              </div>
            </div>
          </div>

          <div class="header-child header-a position-relative">
            <div class="stt"><span>3</span></div>
            <div class="content-header">
              <h2 class="header-title-child d-flex flex-column">{{ 'FORM_888.PHAN_3.TITLE' | translate }}
              </h2>
            </div>
          </div>


          <div class="row" style="padding-top: 15px;">

            <div class="col-md-6">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  13. {{ 'FORM_888.PHAN_3.QUESTION_1' | translate }}
                </label>
                <p-dropdown [options]="listditru"
                  formControlName="ditru"
                  placeholder="Vui lòng chọn (Please choose)"
                  [filter]="true"
                  filterBy="name"
                  [showClear]="true"
                  optionLabel="name" optionValue="name">
                    <ng-template let-item pTemplate="item">
                      <div class="d-flex align-items-center">
                        <span class="ms-2" style="font-size: 15px;">{{item.name}}</span>
                      </div>
                    </ng-template>
                </p-dropdown>
                <span class="error-message" *ngIf="this.getErrorMessage('ditru') != ''">
                  {{ this.getErrorMessage('ditru') }}
                </span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  14. {{ 'FORM_888.PHAN_3.QUESTION_2' | translate }}<span class="request"> *</span>
                </label>
                <p-dropdown [options]="listthoihan"
                  formControlName="thoihan"
                  placeholder="Vui lòng chọn (Please choose)"
                  [filter]="true"
                  filterBy="name"
                  [showClear]="true"
                  optionLabel="name" optionValue="name">
                    <ng-template let-item pTemplate="item">
                      <div class="d-flex align-items-center">
                        <span class="ms-2" style="font-size: 15px;">{{item.name}}</span>
                      </div>
                    </ng-template>
                </p-dropdown>
                <span class="error-message" *ngIf="this.getErrorMessage('thoihan') != ''">
                  {{ this.getErrorMessage('thoihan') }}
                </span>
              </div>
            </div>

            <div class="col-md-12">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  15. {{ 'FORM_888.PHAN_3.QUESTION_3.TITLE' | translate }}
                    <ul style="padding: 5px 15px;">
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_3.SUB_QUESTION_1' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_3.SUB_QUESTION_2' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_3.SUB_QUESTION_3' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_3.SUB_QUESTION_4' | translate }}</li>
                    </ul>
                </label>
                <textarea
                  rows="6"
                  cols="30"
                  style="resize: none;"
                  pInputTextarea
                  [placeholder]="placeholder2"
                  [formControlName]="'songchung'">
                </textarea>
                <span class="error-message" *ngIf="this.getErrorMessage('songchung') != ''">
                  {{ this.getErrorMessage('songchung') }}
                </span>
              </div>
            </div>

            <div class="col-md-12">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  16. {{ 'FORM_888.PHAN_3.QUESTION_4.TITLE' | translate }}<span class="request"> *</span>
                    <ul style="padding: 5px 15px;">
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_4.SUB_QUESTION_1' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_4.SUB_QUESTION_2' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_4.SUB_QUESTION_3' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_4.SUB_QUESTION_4' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_4.EXAMPLE' | translate }}</li>
                    </ul>
                </label>
                <textarea
                  rows="6"
                  cols="30"
                  style="resize: none;"
                  pInputTextarea
                  [placeholder]="placeholder2"
                  [ngClass]="{'valid': form888.get('quenbiet').invalid && (form888.get('quenbiet').dirty || form888.get('quenbiet').touched)}"
                  [formControlName]="'quenbiet'">
                </textarea>
                <span class="error-message" *ngIf="this.getErrorMessage('quenbiet') != ''">
                  {{ this.getErrorMessage('quenbiet') }}
                </span>
              </div>
            </div>

            <div class="col-md-12">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  17. {{ 'FORM_888.PHAN_3.QUESTION_5.TITLE' | translate }}
                    <ul style="padding: 5px 15px;">
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_5.SUB_QUESTION_1' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_5.SUB_QUESTION_2' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_5.SUB_QUESTION_3' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_5.SUB_QUESTION_4' | translate }}</li>
                    </ul>
                </label>
                <textarea
                  rows="6"
                  cols="30"
                  style="resize: none;"
                  pInputTextarea
                  [placeholder]="placeholder2"
                  [formControlName]="'gapgo'">
                </textarea>
                <span class="error-message" *ngIf="this.getErrorMessage('gapgo') != ''">
                  {{ this.getErrorMessage('gapgo') }}
                </span>
              </div>
            </div>

            <div class="col-md-12">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  18. {{ 'FORM_888.PHAN_3.QUESTION_6.TITLE' | translate }}<span class="request"> *</span>
                    <ul style="padding: 5px 15px;">
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_6.SUB_QUESTION_1' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_6.SUB_QUESTION_2' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_6.SUB_QUESTION_3' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_6.SUB_QUESTION_4' | translate }}</li>
                    </ul>
                </label>
                <textarea
                  rows="6"
                  cols="30"
                  style="resize: none;"
                  pInputTextarea
                  [ngClass]="{'valid': form888.get('cuxu').invalid && (form888.get('cuxu').dirty || form888.get('cuxu').touched)}"
                  [placeholder]="placeholder2"
                  [formControlName]="'cuxu'">
                </textarea>
                <span class="error-message" *ngIf="this.getErrorMessage('cuxu') != ''">
                  {{ this.getErrorMessage('cuxu') }}
                </span>
              </div>
            </div>

            <div class="col-md-12">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  19. {{ 'FORM_888.PHAN_3.QUESTION_7.TITLE' | translate }}
                    <ul style="padding: 5px 15px;">
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_7.SUB_QUESTION_1' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_7.SUB_QUESTION_2' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_7.SUB_QUESTION_3' | translate }}</li>
                    </ul>
                </label>
                <textarea
                  rows="6"
                  cols="30"
                  style="resize: none;"
                  pInputTextarea
                  [placeholder]="placeholder2"
                  [formControlName]="'nhanxet'">
                </textarea>
                <span class="error-message" *ngIf="this.getErrorMessage('nhanxet') != ''">
                  {{ this.getErrorMessage('nhanxet') }}
                </span>
              </div>
            </div>

            <div class="col-md-12">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  20. {{ 'FORM_888.PHAN_3.QUESTION_8.TITLE' | translate }}
                    <ul style="padding: 5px 15px;">
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_8.SUB_QUESTION_1' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_8.SUB_QUESTION_2' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_8.SUB_QUESTION_3' | translate }}</li>
                    </ul>
                </label>
                <textarea
                  rows="6"
                  cols="30"
                  style="resize: none;"
                  pInputTextarea
                  [placeholder]="placeholder2"
                  [formControlName]="'tinquanhe'">
                </textarea>
                <span class="error-message" *ngIf="this.getErrorMessage('tinquanhe') != ''">
                  {{ this.getErrorMessage('tinquanhe') }}
                </span>
              </div>
            </div>

            <div class="col-md-12">
              <div class="d-flex flex-column pb-3" style="height: 100%;">
                <label class="d-block font-weight-bold mb-2 title-input">
                  21. {{ 'FORM_888.PHAN_3.QUESTION_9.TITLE' | translate }}
                    <ul style="padding: 5px 15px;">
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_9.SUB_QUESTION_1' | translate }}</li>
                        <li style="font-size: 14px;">{{ 'FORM_888.PHAN_3.QUESTION_9.SUB_QUESTION_2' | translate }}</li>
                    </ul>
                </label>
                <textarea
                  rows="6"
                  cols="30"
                  style="resize: none;"
                  pInputTextarea
                  [placeholder]="placeholder2"
                  [formControlName]="'tamsu'">
                </textarea>
                <span class="error-message" *ngIf="this.getErrorMessage('tamsu') != ''">
                  {{ this.getErrorMessage('tamsu') }}
                </span>
              </div>
            </div>
          </div>

            <div class="header-child header-a position-relative" style="margin-top: 10px;">
              <div class="stt"><span>9</span></div>
              <div class="content-header">
                <h2 class="header-title-child d-flex flex-column">HỒ SƠ ĐÍNH KÈM
                  <b class="sub-title-child"><i> UPLOAD FILE</i></b>
                </h2>
              </div>
            </div>
            <div class="row" style="padding-top: 15px;">

              <div class="col-md-6">
                <div class="d-flex flex-column pb-3">
                  <label class="d-block font-weight-bold mb-2 title-input">
                    Một số loại giấy tờ khác nếu không có trong form vui lòng gửi lên
                  </label>

                <p>1. Tờ khai yêu cầu cấp phiếu <a class="xanh" [href]="this.api.URL + '/uploads/' + 'mau_so_03_LLTP.docx'">(In tờ khai online)</a></p>
                <p>2. Chứng minh nhân dân (scan 2 mặt) <a [href]="this.api.URL +'/document/'+ 'cmnd.pdf'" target="_blank" >Xem ví dụ CMND</a></p>
                <p>3. Hộ khẩu thường trú (scan đầy đủ trang bìa và các trang đã ghi thông tin liên quan đến bản thân) <a [href]="this.api.URL +'/document/'+ 'hk.pdf'" target="_blank">Xem ví dụ HK</a></p>

                </div>
              </div>

              <div class="col-md-6">
                <div class="d-flex flex-column pb-3">
                  <label class="d-block font-weight-bold mb-2 title-input">
                    Nơi upload File (lưu ý tối đa 5mb)
                  </label>

                  <p-toast />
                  <p-fileUpload
                      name="demo[]"
                      (onUpload)="onUpload($event)"
                      [multiple]="true"
                      maxFileSize="10000000"
                      [auto]="false"
                      [customUpload]="true"
                      (onSelect)="onSelect($event)">
                      <ng-template pTemplate="content">
                          <ul *ngIf="uploadedFiles.length">
                              <li *ngFor="let file of uploadedFiles">
                                  {{ file.name }} - {{ file.size }} bytes
                              </li>
                          </ul>
                      </ng-template>
                  </p-fileUpload>

                  <label for="" class="form-label label-title">Hoặc bạn có thể gửi đến Trợ giúp pháp lý việt nam với địa chỉ Email : hotro@trogiupphaply.com.au</label>
                </div>
              </div>
            </div>
            <p-toast position="bottom-right" key="br"/>
            <button
                (click)="submit()"
                pButton
                pRipple
                label="Hoàn Thành"
                type="submit"
                class="p-button-success submit_button"
                >
            </button>

          </div>
        </div>
      </form>
  </div>
</section>
