// .container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }

// .converter {
//   border: 1px solid #b69d74;
//   padding: 20px;
//   border-radius: 5px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
// }

// h2 {
//   text-align: center;
//   margin-bottom: 10px;
// }

// .input-group {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 10px;
// }

// .input-group input,
// .input-group select {
//   padding: 8px;
//   border: 1px solid #ccc;
//   border-radius: 3px;
//   font-size: 16px;
// }

// .input-group button {
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   padding: 8px 15px;
//   border-radius: 3px;
//   cursor: pointer;
// }

// .result {
//   text-align: center;
// }

// .result p {
//   font-size: 18px;
//   margin: 5px;
// }

// span {
//   margin: 0 5px;
// }


// .khung_select {
//   margin-bottom: 20px;
// }



.header_money {
  background-color: black;
  border-radius: 24px 24px 0px 0px;
}

.label_2 {
  font-size: 25px;
  font-weight: 700;
}

.contain_money {
  height: auto;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
  padding-right: 0px;
  display: block;
  text-align: center;
}

.body_money {
  background-color: #ffff;
  padding: 20px;
}

.white {
  color: #ffff;
}

.fFfUvW {
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  height: 50px;
  border: 1px solid black;
  border-radius: 12px;
  padding-inline: 16px;
  padding-right: 132px;
  outline: none;
}

label {
  font-weight: 700;
  padding: 15px 0px;
}

.input_select {
  display: flex;
}

.dropdown_input {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 50px;
  background-color: black;
  -webkit-box-pack: end ;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  position: absolute;
  right: 0.5px;
  border-radius: 0px 11px 11px 0px;
}


.content_dropdown {
    padding: 0px;
    border: none;
    height: fit-content;
    min-width: fit-content;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.12);
    background-color: #ffff;
    border-radius: 12px !important;
    inset: 0px 0px auto auto !important;
    transform: translate(9px, 50px) !important;
    position: absolute;

    a {
      color: black;
    }
}
.cWMnfF {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--ds-c-grey-dark);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 10px 16px;
  text-transform: capitalize;
  width: 122px;
  height: 50px;
  background: transparent;

  img {
    width: 40px;
    padding-right: 10px;
  }
}


.show_input {

  display: flex;
  img {
    width: 40px;
    padding-right: 10px;

  }
}



.disnone {
  display: none  !important;
}

.label_hover:hover {
  color: red;
}

.content_dropdown {
  max-height: 200px; /* Điều chỉnh chiều cao tối đa của div trước khi thanh cuộn xuất hiện */
  overflow-y: auto;
}
