<app-loading *ngIf="isLoading"></app-loading>


<div class="item_utils" *ngIf="!isLoading" style="    padding-bottom: 90px;">
  <div class="row">
      <div class="col-md-4">
          <img src="../../../assets/toa_nha.jpg" style="width: 100%; height: 100%; object-fit: cover; border-radius: 5px;" alt="">
      </div>
      <div class="col-md-8">
        <div class="item_utils_2">
          <div class="category margin_bottom ">
            <h4 class="title_search">THÔNG TIN LIÊN HỆ</h4>
            <div class="contact-address ">
              <div class="address-item">
                <div class="address-icon"><i class="fa-solid fa-phone"></i>
                </div>
                <div class="address-text">
                  <h3 class="contact-title">Office Phone</h3>
                  <a href="tel:+84 793 117 968">+84 793 117 968</a>
                </div>
              </div>
              <div class="address-item">
                <div class="address-icon"><i class="fa-solid fa-envelope"></i></div>
                <div class="address-text"><h3 class="contact-title">Mail Us</h3> <a href="mailto:hotro@phaplyvietnam.com">hotro@phaplyvietnam.com</a>
                </div>
              </div>
              <div class="address-item">
                <div class="address-icon">
                  <i class="fa-solid fa-location-dot" style="    width: 50px;"></i>
                </div>
                <div class="address-text"><h3 class="contact-title">Address</h3>
                  <div style="margin-top: 10px;">Sài gòn: 382/17-19 Nguyễn Thị Minh Khai, Phường 5, Quận 3, Thành phố Hồ Chí Minh</div>
                  <div style="margin-top: 10px;">Phú Yên: 336 Hùng Vương, Khu Phố Trần Phú, Thành Phố Tuy Hòa, Tỉnh Phú Yên</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
