<form [formGroup]="form80">
  <div class="form_child">

    <div class="header-child header-a position-relative">
      <div class="stt"><span>D</span></div>
      <div class="content-header">
        <h2 class="header-title-child d-flex flex-column">{{"SECTION_D.TITLE" | translate}}
        </h2>
      </div>
    </div>

    <div class="row" style="padding-top: 15px;" [formGroupName]="sectionGroupContainer">

      <div class="col-md-4">
        <div class="d-flex flex-column pb-3">
          <label class="d-block font-weight-bold mb-2 title-input">
            15. {{"SECTION_D.15" | translate}}
          </label>
          <input type="text"
            [formControlName]="'ap.email primary'"
            pInputText
            [placeholder]="placeholder"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="d-flex flex-column pb-3">
          <label class="d-block font-weight-bold mb-2 title-input">
            16. {{"SECTION_D.16" | translate}}<span class="request"> *</span>
          </label>
          <input type="text"
            [formControlName]="'ap.mobile num'"
            pInputText
            [placeholder]="placeholder"
            [ngClass]="{'valid': form80.get([sectionGroupContainer, 'ap.mobile num']).invalid && (form80.get([sectionGroupContainer, 'ap.mobile num']).dirty || form80.get([sectionGroupContainer, 'ap.mobile num']).touched)}"
          />

            <span class="error-message" *ngIf="form80service.getErrorMessage(sectionGroupContainer, 'ap.mobile num') != ''">
              {{ form80service.getErrorMessage(sectionGroupContainer, 'ap.mobile num') }}
            </span>

        </div>
      </div>

      <div class="col-md-12">
        <div class="d-flex flex-column pb-3">
          <div class="d-flex rounded flex-column pb-3 pt-2">
            <div class="row" [formGroup]="itemthongtin">
              <label class="d-block font-weight-bold mb-2 title-input">
                17. {{"SECTION_D.17" | translate}}
                <span style="color: red; font-family: 'roboto' !important; display: block; font-style: italic; font-size: 13px;">{{"SECTION_D.17_sub" | translate}}</span>
              </label>
                <div class="col-md-2 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{"SECTION_D.17_1" | translate}}
                    </label>
                    <p-calendar
                    placeholder="mm/yyyy"
                    formControlName="ap.addr fr"
                    view="month"
                    dateFormat="mm/yy"
                    (onSelect)="onDateChange($event, 'ap.addr fr')"
                    (onInput)="onInputChange($event, 'ap.addr fr' , itemthongtin)"
                    [readonlyInput]="false"
                    >
                    <ng-template pTemplate="date" let-date>
                      <span>
                        {{ date.month }}/{{ date.year }}
                      </span>
                    </ng-template>
                  </p-calendar>
                  </div>
                </div>

                <div class="col-md-2 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{"SECTION_D.17_2" | translate}}
                    </label>
                    <p-calendar
                    placeholder="mm/yyyy"
                    formControlName="ap.addr to"
                    view="month"
                    dateFormat="mm/yy"
                    [readonlyInput]="false"
                    (onSelect)="onDateChange($event, 'ap.addr to')"
                    (onInput)="onInputChange($event, 'ap.addr to' , itemthongtin)"
                    >
                    <ng-template pTemplate="date" let-date>
                      <span>
                        {{ date.month }}/{{ date.year }}
                      </span>
                    </ng-template>
                  </p-calendar>
                  </div>
                </div>

                <div class="col-md-4 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{"SECTION_D.17_3" | translate}}
                    </label>
                    <input type="text"
                    [ngClass]="{'valid': itemthongtin.get(['ap.address live']).invalid && (itemthongtin.get(['ap.address live']).dirty || itemthongtin.get(['ap.address live']).touched)}"
                    formControlName="ap.address live"  [id]="inputId" placeholder="Nhập địa điểm" pInputText />
                  </div>
                </div>

                <div class="col-md-2 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{"SECTION_D.17_4" | translate}}
                    </label>
                    <p-dropdown [options]="countries"
                      [formControlName]="'ap.cntry lived'"
                      placeholder="Vui lòng chọn quốc gia"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      optionLabel="name" optionValue="name">
                        <ng-template let-item pTemplate="item">
                          <div class="d-flex align-items-center">
                            <span class="fi fi-{{item.code.toLowerCase()}}"></span>
                            <span class="ms-2">{{item.name}}</span>
                          </div>
                        </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-md-2 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                      <p-toast />
                      <p-confirmDialog />
                      <p-button (onClick)="confirm()" [disabled]="thongtinarray.length >= 5" [label]="'SECTION_HOME.BUTTON_INFORMATION' | translate" severity="danger" />
                  </div>
                </div>
            </div>

            <div class="row">
              <label class="d-block font-weight-bold mb-2 title-input" style="color: red; text-transform: uppercase;">
                {{"SECTION_D.17_INFOR" | translate}}
              </label>
                <div class="col-md-7 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <p-table
                    [value]="thongtinarray"
                    [tableStyle]="{ 'min-width': '35rem' }">
                    <!-- Header -->
                    <ng-template pTemplate="header">
                        <tr>
                            <th>#</th>
                            <th>{{"SECTION_D.17_1" | translate}}</th>
                            <th>{{"SECTION_D.17_2" | translate}}</th>
                            <th>{{"SECTION_D.17_3" | translate}}</th>
                            <th>{{"SECTION_D.17_4" | translate}}</th>
                        </tr>
                    </ng-template>

                    <!-- Body -->
                    <ng-template pTemplate="body" let-row let-i="rowIndex" let-thongtin>
                        <tr>
                            <td>
                              <svg width="20px" height="20px" viewBox="0 0 512 512" (click)="remove(i, thongtin)" style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"/></svg>
                            </td>
                            <td>{{thongtin['ap.addr fr']}}</td>
                            <td>{{thongtin['ap.addr to']}}</td>
                            <td>{{thongtin['ap.address live']}}</td>
                            <td>{{thongtin['ap.cntry lived']}}</td>
                        <tr>
                    </ng-template>
                </p-table>
                  </div>
                </div>
            </div>
        </div>
        </div>
      </div>



    </div>

  </div>
  <p-toast position="bottom-right" key="br" [breakpoints]="{ '920px': { left: '50%', right: 'auto', transform: 'translateX(-50%)', bottom: '20px', width: 'calc(100% - 32px)', maxWidth: '360px' } }" />
  <div class="grid grid-nogutter justify-content-end d-flex">
    <p-button [label]="'SECTION_HOME.BUTTON_BACK' | translate" severity="secondary" (click)="goBack()" class="back" />
    <button
    (click)="nextStep(sectionGroupContainer , 'ap.address array')"
      pButton
      pRipple
      [label]="'SECTION_HOME.BUTTON_NEXT' | translate"
      type="button"
      class="p-button-success submit_button"
      >
    </button>
  </div>

  </form>
