<form [formGroup]="form80">
  <div class="form_child">

    <div class="header-child header-a position-relative">
      <div class="stt"><span>G</span></div>
      <div class="content-header">
        <h2 class="header-title-child d-flex flex-column">{{'SECTION_G.TITLE' | translate}}
        </h2>
      </div>
    </div>

    <div class="row" style="padding-top: 15px;" [formGroupName]="sectionGroupContainer">

      <div class="col-md-12">
          <div class="d-flex rounded flex-column pb-3">
            <div class="row" [formGroup]="itemthongtin">
              <label class="d-block font-weight-bold mb-2 title-input" style="font-size: 16px;">
                20. {{'SECTION_G.20' | translate}}
                <span style="color: red; font-family: 'roboto' !important; display: block; font-style: italic; font-size: 13px; margin-top: 5px;">{{"SECTION_G.20_sub" | translate}}</span>
              </label>
                <div class="col-md-2 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{'SECTION_G.20_1' | translate}}
                    </label>
                    <p-calendar
                    placeholder="mm/yyyy"
                    formControlName="ap.qual fr"
                    view="month"
                    dateFormat="mm/yy"
                    (onSelect)="this.form80service.onDateChange(
                      $event , null , 'ap.qual fr' , null , itemthongtin , 'monthyear'
                   )"
                   (onInput)="this.form80service.onInputChange(
                       $event , 'ap.qual fr' , null , null , itemthongtin , 'monthyear'
                   )"
                   [readonlyInput]="false"
                    >
                    <ng-template pTemplate="date" let-date>
                      <span>
                        {{ date.month }}/{{ date.year }}
                      </span>
                    </ng-template>
                  </p-calendar>
                  </div>
                </div>

                <div class="col-md-2 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{'SECTION_G.20_2' | translate}}
                    </label>
                    <p-calendar
                    placeholder="mm/yyyy"
                    formControlName="ap.qual to"
                    view="month"
                    dateFormat="mm/yy"
                    (onSelect)="this.form80service.onDateChange(
                      $event , null , 'ap.qual to' , null , itemthongtin , 'monthyear'
                   )"
                   (onInput)="this.form80service.onInputChange(
                       $event , 'ap.qual to' , null , null , itemthongtin , 'monthyear'
                   )"
                   [readonlyInput]="false"
                    >
                    <ng-template pTemplate="date" let-date>
                      <span>
                        {{ date.month }}/{{ date.year }}
                      </span>
                    </ng-template>
                  </p-calendar>
                  </div>
                </div>

                <div class="col-md-4 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{'SECTION_G.20_3' | translate}}
                    </label>
                    <input type="text"
                    [ngClass]="{'valid': itemthongtin.get(['ap.qual name']).invalid && (itemthongtin.get(['ap.qual name']).dirty || itemthongtin.get(['ap.qual name']).touched)}"
                    formControlName="ap.qual name" [placeholder]="placeholder" pInputText />
                  </div>
                </div>

                <div class="col-md-4 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{'SECTION_G.20_4' | translate}}
                    </label>
                    <input type="text"
                    [ngClass]="{'valid': itemthongtin.get(['ap.qual course']).invalid && (itemthongtin.get(['ap.qual course']).dirty || itemthongtin.get(['ap.qual course']).touched)}"
                    formControlName="ap.qual course" [placeholder]="placeholder" pInputText />
                  </div>
                </div>

                <div class="col-md-4 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{'SECTION_G.20_5' | translate}}
                    </label>
                    <p-dropdown [options]="useCourses"
                    formControlName="ap.qualvalue"
                    placeholder="Vui lòng chọn tình trạng hiện tại"
                    [filter]="true"
                    filterBy="name"
                    [showClear]="true"
                    optionLabel="name" optionValue="name">
                      <ng-template let-item pTemplate="item">
                        <div class="d-flex align-items-center">
                          <span class="ms-2">{{item.name}}</span>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>

                <div class="col-md-4 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{'SECTION_G.20_6' | translate}}
                    </label>
                      <textarea
                        rows="2"
                        cols="30"
                        pInputTextarea
                        [ngClass]="{'valid': itemthongtin.get(['ap.qual campus add']).invalid && (itemthongtin.get(['ap.qual campus add']).dirty || itemthongtin.get(['ap.qual campus add']).touched)}"
                        #autocomplete
                        [id]="inputId"
                        placeholder="Nhập địa chỉ"
                        style="resize: none;"
                        formControlName="ap.qual campus add">
                      </textarea>
                  </div>
                </div>

                <div class="col-md-4 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{'SECTION_G.20_7' | translate}}
                    </label>
                    <p-dropdown [options]="countries"
                      formControlName="ap.qual country"
                      placeholder="Vui lòng chọn quốc gia"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      optionLabel="name" optionValue="name">
                        <ng-template let-item pTemplate="item">
                          <div class="d-flex align-items-center">
                            <span class="fi fi-{{item.code.toLowerCase()}}"></span>
                            <span class="ms-2">{{item.name}}</span>
                          </div>
                        </ng-template>
                      </p-dropdown>
                  </div>
                </div>

                <div class="col-md-12 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3 align-items-end" style="width: 100%;">
                      <p-toast />
                      <p-confirmDialog />
                      <p-button (onClick)="confirm()" [disabled]="thongtinarray.length >= 8" [label]="'SECTION_HOME.BUTTON_INFORMATION' | translate" severity="danger" />
                  </div>
                </div>
            </div>

            <div class="row">
              <label class="d-block font-weight-bold mb-2 title-input" style="color: red; text-transform: uppercase;">
                {{'SECTION_HOME.LIST_INFORMATION' | translate}}
              </label>
                <div class="col-md-12 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <p-table
                    [value]="thongtinarray"
                    [tableStyle]="{ 'min-width': '55rem' }">
                    <!-- Header -->
                    <ng-template pTemplate="header">
                        <tr>
                            <th>#</th>
                            <th>{{'SECTION_G.20_1' | translate}}</th>
                            <th>{{'SECTION_G.20_2' | translate}}</th>
                            <th>{{'SECTION_G.20_3' | translate}}</th>
                            <th>{{'SECTION_G.20_4' | translate}}</th>
                            <th>{{'SECTION_G.20_5' | translate}}</th>
                            <th>{{'SECTION_G.20_6' | translate}}</th>
                            <th>{{'SECTION_G.20_7' | translate}}</th>
                        </tr>
                    </ng-template>

                    <!-- Body -->
                    <ng-template pTemplate="body" let-row let-i="rowIndex" let-thongtin>
                        <tr>
                            <td>
                              <svg width="20px" height="20px" viewBox="0 0 512 512" (click)="remove(i, thongtin)" style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"/></svg>
                            </td>
                            <td>{{thongtin['ap.qual fr']}}</td>
                            <td>{{thongtin['ap.qual to']}}</td>
                            <td>{{thongtin['ap.qual name']}}</td>
                            <td>{{thongtin['ap.qual course']}}</td>
                            <td>{{thongtin['ap.qualvalue']}}</td>
                            <td>{{thongtin['ap.qual campus add']}}</td>
                            <td>{{thongtin['ap.qual country']}}</td>
                        <tr>
                    </ng-template>
                </p-table>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <p-toast position="bottom-right" key="br" [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
  <div class="grid grid-nogutter justify-content-end d-flex">
    <p-button [label]="'SECTION_HOME.BUTTON_BACK' | translate" severity="secondary" (click)="goBack()" class="back" />
    <button
    (click)="nextStep(sectionGroupContainer , 'ap.qual array')"
      pButton
      pRipple
      [label]="'SECTION_HOME.BUTTON_NEXT' | translate"
      type="button"
      class="p-button-success submit_button"
      >
    </button>
  </div>

  </form>
