<form [formGroup]="form80">
  <div class="form_child">

    <div class="header-child header-a position-relative">
      <div class="stt"><span>H</span></div>
      <div class="content-header">
        <h2 class="header-title-child d-flex flex-column">{{'SECTION_H.TITLE' | translate}}
        </h2>
      </div>
    </div>

    <div class="row" style="padding-top: 15px;" [formGroupName]="sectionGroupContainer">

      <div class="col-md-12">
        <div class="d-flex flex-column pb-3">
          <label class="d-block font-weight-bold mb-2 title-input">
            21. {{'SECTION_H.21' | translate}}
          </label>
          <div class="d-flex flex-wrap gap-3 align-content-center pb-2" style="height: 100%;">
            <div class="d-flex align-items-center">
              <p-radioButton [formControlName]="'ap.in aus'" [value]="'2'"  />
              <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
            </div>
            <div class="d-flex align-items-center">
              <p-radioButton [formControlName]="'ap.in aus'" [value]="'1'"  />
              <label for="female" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
            </div>
          </div>

          <span class="error-message" *ngIf="form80service.getErrorMessage(sectionGroupContainer,'ap.in aus') != ''">
            {{ form80service.getErrorMessage(sectionGroupContainer, 'ap.in aus') }}
          </span>

          <!-- Tiếp tục câu 22 ( NO )-->
          <div class="d-flex rounded flex-column pb-3 pt-2"  *ngIf="form80.get([sectionGroupContainer, 'ap.in aus']).value === '1'">
            <div class="row">
                <div class="col-md-4 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      22. {{'SECTION_H.22' | translate}}
                    </label>
                     <textarea
                        rows="3"
                        cols="30"
                        pInputTextarea
                        [placeholder]="placeholder"
                        style="resize: none;"
                        formControlName="ap.reason for visit">
                      </textarea>
                  </div>
                </div>

                <div class="col-md-5 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      23. {{'SECTION_H.23' | translate}}
                    </label>
                    <div class="d-flex flex-wrap gap-3 align-content-center pb-2" style="height: 100%;">
                      <div class="d-flex align-items-center">
                        <p-radioButton [formControlName]="'ap.travel dte'" [value]="'2'"  />
                        <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                      </div>
                      <div class="d-flex align-items-center">
                        <p-radioButton [formControlName]="'ap.travel dte'" [value]="'1'"  />
                        <label for="female" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>

          <div class="d-flex rounded flex-column pb-3 pt-2"  *ngIf="form80.get([sectionGroupContainer, 'ap.travel dte']).value === '2'">
            <div class="row" >
                <div class="col-md-2 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{'SECTION_H.23_1' | translate}}
                    </label>
                    <p-calendar placeholder="dd/mm/yyyy"
                    formControlName="ap.prop doa"
                    (onSelect)="this.form80service.onDateChange(
                      $event, this.form80 , 'ap.prop doa' , sectionGroupContainer , null , 'date'
                   )"
                   (onInput)="this.form80service.onInputChange(
                       $event , 'ap.prop doa' , this.form80 , sectionGroupContainer ,null , 'date'
                   )"
                   [readonlyInput]="false"
                    [dateFormat]="'dd/mm/yy'">
                      <ng-template pTemplate="date" let-date>
                          <span>
                              {{ date.day }}
                          </span>
                      </ng-template>
                  </p-calendar>
                  </div>
                </div>
                <div class="col-md-5 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{'SECTION_H.23_2' | translate}}
                    </label>
                    <input type="text" formControlName="ap.prop flight num" [placeholder]="placeholder" pInputText />
                  </div>
                </div>

                <div class="col-md-5 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{'SECTION_H.23_3' | translate}}
                    </label>
                    <input type="text" formControlName="ap.prop town" [placeholder]="placeholder" pInputText />
                  </div>
                </div>
            </div>
          </div>

          <!-- Qua câu 25 ( YES ) -->
          <div class="d-flex rounded flex-column pb-3 pt-2"  *ngIf="form80.get([sectionGroupContainer, 'ap.in aus']).value === '2' || form80.get([sectionGroupContainer, 'ap.travel dte']).value === '1'">
            <div class="row" >
                <div class="col-md-6 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      25. {{'SECTION_H.25' | translate}}
                    </label>
                    <textarea
                        rows="5"
                        cols="30"
                        pInputTextarea
                        [placeholder]="placeholder"
                        style="resize: none;"
                        formControlName="ap.reason for fs">
                    </textarea>
                  </div>
                </div>

                <div class="col-md-6 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      26. {{'SECTION_H.26' | translate}}
                    </label>
                    <textarea
                        rows="5"
                        cols="30"
                        pInputTextarea
                        [placeholder]="placeholder"
                        style="resize: none;"
                        formControlName="ap.fs cities">
                    </textarea>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <p-toast position="bottom-right" key="br" [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
  <div class="grid grid-nogutter justify-content-end d-flex">
    <p-button [label]="'SECTION_HOME.BUTTON_BACK' | translate" severity="secondary" (click)="goBack()" class="back" />
    <button
    (click)="nextStep(sectionGroupContainer)"
      pButton
      pRipple
      [label]="'SECTION_HOME.BUTTON_NEXT' | translate"
      type="button"
      class="p-button-success submit_button"
      >
    </button>
  </div>

  </form>
