

.item_cauhoi {
  padding-top: 70px !important ;
   padding-right: 60px !important;
   padding-bottom : 70px !important;
   padding-left: 60px !important;
 }
 .form {
   padding-bottom: 90px;
 }

 .col_form_cauhoi {
   background: #1f2839 !important;
 }

 .item_cauhoi_title {
   margin-bottom: 40px;
   h3 {
     margin-top: 10px ;
     color: black !important;
     font-family: "Alfa Slab One", serif;
     color: #62eea8 !important;
     font-size: 2.5rem;
   }
 }



 .item_cauhoi_title span {
  font-family: "Roboto Serif", serif;
  font-size: 15px;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100, "GRAD" 0;
  color: #AAAAAA;
 }

 .col_form {
   padding: 0 !important;
 }

 .col_form_bg {
   background-color: #ffff;
   box-shadow: 0 0 30px rgba(0,0,0,.1);

 }

 .card_bg {
   background-color: #1f2839 !important;
   color: #ffff;

   border-color: #263043 !important;
 }

 .khung {
   padding-bottom: 20px;
 }


 .form-control {
        background-color: #f2f6f8 !important;
        border-radius: 2rem;
        border: none;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11 )
 }

 .title_btn {
   border-color: #263043 !important;

   h5 button {
     color: #ffff;
     text-decoration: none ;

   }

   h5 button:hover {
     color: #b69d74;
   }
 }


 .des_card {
   color: #d1d1d1;
   font-size: 13px;
 }




 // form



 .form-control {
   height: 3.3rem  !important;
   border: 1px solid #374257;
   color: #767676;
   background: 0 0;
 }

 .form-group {
   margin-bottom: 20px;
 }

 .textarea {
   height: 140px !important;
   margin-bottom: 12px;
 }


 .btn_item {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  display: inline-block;
  padding: 10px 20px;
  border: 3px solid #4DC1B8;
  color: #4DC1B8;
  background-color: white;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
  transition: all 0.3s;
 }

 .btn_item:hover {
  background-color: #4DC1B8;
  color: white;
 }

 input {
  outline: none !important;
 }
.form-control {
  border: none;
  background: #faf8f7;
}
