.is-typing {
  margin-top: 90px;
  width: 90px;
  justify-content: space-around;
  display: flex;
  padding: 0 28px;
}

.jump1,
.jump2,
.jump3
 {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: gray;
}

.jump1 {
  animation: typing 1.5s linear infinite;
  animation-delay: 01.1s;
}

.jump2 {
  animation: typing 1.5s linear infinite;
  animation-delay: 01.2s;
}

.jump3 {
  animation: typing 1.5s linear infinite;
  animation-delay: 01.3s;
}


@keyframes typing {
0% {
 transform: translateY(0px);
}

25% {
 transform: translateY(0px);
}

35% {
 transform: translateY(15px);
}

45% {
 transform: translateY(0px);
}

60% {
 transform: translateY(-15px);
}

75% {
   background-color: white;
 transform: translateY(0px);
}

100% {
 transform: translateY(0px);
}

}
