<section class="form sec" style="padding: 0; padding-bottom: 90px !important;" >
    <div class="container">

      <span class="diemnhan_services"> <hr>Thông tin mới nhất ở đâu ?<hr></span>
      <h3 class="title_services" >TIN TỨC MỚI NHẤT</h3>

        <div class="row row_form" style="padding-top: 30px;">
            <div class="col-lg-6">
                <div class="">
                    <div class="item_cauhoi_title">
                        <span>Các loại câu hỏi ?</span>
                        <h3>Các câu hỏi thường gặp</h3>
                    </div>
                    <div class="item_cauhoi_des">
                      <div id="accordion">
                          <div class="khung" *ngFor="let panel of panels">
                              <div class="card card_bg">
                                  <div class="card-header title_btn">
                                      <h5 class="mb-0">
                                          <button style="    text-align: left;" class="btn btn-link" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + panel.id"
                                              [attr.aria-expanded]="!panel.isCollapsed" [attr.aria-controls]="panel.id" (click)="toggleCollapse(panel)">
                                              {{ panel.title }}
                                          </button>
                                      </h5>
                                  </div>
                                  <div [id]="panel.id" class="collapse" [ngClass]="{ 'show': !panel.isCollapsed }"
                                      [attr.aria-labelledby]="panel.id" data-bs-parent="#accordion">
                                      <div class="card-body des_card">
                                          {{ panel.content }}
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-6 ">
              <div class="">
                <div class="item_cauhoi_title">
                  <span>Đặt câu hỏi ?</span>
                  <h3>Tư vấn miễn phí</h3>
              </div>

                <div class="item_form_des">
                    <form  [formGroup]="information_user" (ngSubmit)="submit()" >
                        <div class="row khung_form">
                            <div class="col-md-6">
                              <div class="form-group">
                                <input type="text"
                                  class="form-control" name="name" formControlName="name" id="" aria-describedby="helpId" placeholder="Tên của bạn">
                                  <small class="text-danger" *ngIf="information_user.get('name')?.invalid && information_user.get('name')?.touched">
                                    Tên không được để trống
                                  </small>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <input type="text"
                                  class="form-control" name="email" formControlName="email" id="" aria-describedby="helpId" placeholder="Email của bạn">
                                  <small class="text-danger" *ngIf="information_user.get('email')?.invalid && information_user.get('email')?.touched">
                                    Email không hợp lệ
                                  </small>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <input type="text"
                                  class="form-control" name="phone" formControlName="phone" id="" aria-describedby="helpId" placeholder="Số điện thoại của bạn">
                                  <small class="text-danger" *ngIf="information_user.get('phone')?.invalid && information_user.get('phone')?.touched">
                                      Số điện thoại không hợp lệ
                                  </small>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <select class="form-control" formControlName="select" id="select">
                                  <option value="" disabled selected>Vấn đề Hộ Chiếu</option>
                                  <option value="van_de_tu_phap">Vấn đề Lý Lịch Tư Pháp</option>
                                  <option value="van_de_tien_te">Vấn đề Tiền Tệ</option>
                                  <option value="van_de_khac">Các Vấn Đề Khác</option>
                                </select>
                                <small class="text-danger" *ngIf="information_user.get('person')?.invalid && information_user.get('person')?.touched">
                                  Vui lòng chọn người ta.
                                </small>

                              </div>
                            </div>

                            <div class="col-md-12">
                              <div class="form-group">
                                <label for=""></label>
                                <textarea placeholder="Nội dung cần hỗ trợ" class="form-control textarea" name="content"  formControlName="content" id="" rows="10" cols="40"></textarea>
                              </div>
                            </div>

                            <div class="col-md-12">
                              <div class="btn_click">
                                <button type="submit" class="btn btn-primary btn_item" >Gửi yêu cầu <i class="fa-solid fa-arrow-right"></i></button>
                              </div>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
          </div>
        </div>
    </div>
</section>
