


<section class="news_detail">
  <div class="top_news"  >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="content_news_detail">
                    <h1 class="content_news_detail_title">
                        LIÊN HỆ
                    </h1>
                  </div>
            </div>
        </div>
    </div>
  </div>
  <div class="content_news">
      <div class="container">
          <div class="row row_content_news">
              <div class="col-lg-12 col-md-12 col_blogs">
                  <app-form-contact></app-form-contact>
              </div>



              <div class="col-lg-12 col-md-12 util">
                <app-contact-filter></app-contact-filter>
              </div>
          </div>
      </div>
      <div class="col-lg-12 col-md-12 khung_map">
        <div class="row">
            <div class="col-md-6 item_map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7839.243262023808!2d106.664459!3d10.763616!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752eef55f1b107%3A0xeb86f26db4a0d527!2zMTYxIMSQLiBOZ8O0IFF1eeG7gW4sIFBoxrDhu51uZyA2LCBRdeG6rW4gMTAsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2sus!4v1689143714672!5m2!1svi!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-6 item_map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6316.150803272988!2d144.908228!3d-37.670936!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65a7ab812f551%3A0x24313a7744305b49!2sWagner%20Court%2C%20Westmeadows%20VIC%203049%2C%20%C3%9Ac!5e0!3m2!1svi!2sus!4v1689143744219!5m2!1svi!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
  </div>
</section>


