<app-loading *ngIf="isLoading"></app-loading>
<div class="item_utils" *ngIf="!isLoading">
  <div class="search margin_bottom">
      <h4 class="title_search">Tìm kiếm</h4>
      <div class="search_input">
        <form style="position: relative;">
           <input type="text" [(ngModel)]="timkiem" name="timkiem"  class="input_search">
           <button type="submit" (click)="search()" value="Search" class="button_search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
  </div>
  <div class="category margin_bottom ">
    <h4 class="title_search">Thể loại</h4>
    <ul>
      <li class="cat-item cat-item-43" *ngFor="let item of listtype">
        <i class="fa-solid fa-chevron-right"></i>
        <a >{{item.title}}</a>
      </li>

    </ul>
  </div>
  <div class="recent_post margin_bottom">
    <h4 class="title_search">Tin tức mới nhất</h4>
    <div class="recent-post-widget widget clearfix">
      <div class="show-featured clearfix" *ngFor="let item of listnewfeed">
        <div class="post-img">
           <a routerLink="/{{item.link}}" >
            <img width="450" height="325" [src]="api.URL + '/uploads/' + item.image" alt="" decoding="async" loading="lazy"> </a>
        </div>
        <div class="post-item">
          <div class="post-desc">
          <a routerLink="/{{item.link}}" >{{item.title}}</a>
        </div>
      </div>
    </div>

      </div>
  </div>
</div>
