<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
      <div class="nav">
          <div class="sb-sidenav-menu-heading">Core</div>
          <a class="nav-link" routerLink="home">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Dashboard
          </a>
          <a class="nav-link" routerLink="menu">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Menu
        </a>
          <a class="nav-link" routerLink="category">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Category
        </a>
          <a class="nav-link" routerLink="typesnews">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Types News
        </a>
          <a class="nav-link" routerLink="news">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            News
        </a>
        <a class="nav-link" routerLink="pdfs">
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          Pdfs
      </a>
        <a class="nav-link" routerLink="sliders">
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          Sliders
      </a>
          <a class="nav-link" routerLink="settings">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Settings
        </a>
        <a class="nav-link" routerLink="partner">
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          Partner
        </a>
        <a class="nav-link" routerLink="customer-support">
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          Customer Support
        </a>

      </div>
  </div>
</nav>
