/* Navbar */
.navbar {
  background-color: #343a40 !important;
  height: 100%;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

/* Nav Item */
.navbar-nav .nav-item {
  margin-bottom: 8px;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link i {
  margin-right: 8px;
}

/* Collapsible Nav */
.collapse.show .navbar-nav .nav-link {
  border-radius: 0.25rem;
}

.collapse.show .navbar-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Footer */
.navbar-footer {
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
  font-size: 12px;
  color: #6c757d;
}
