<app-loading *ngIf="isLoading"></app-loading>
<section *ngIf="!isLoading">
<div  id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" *ngFor="let item of listslider; let i = index" [attr.data-bs-target]="'#carouselExampleCaptions'" [attr.data-bs-slide-to]="i" [class.active]="i === 0" ></button>

  </div>
  <!--Slides-->
  <div class="carousel-inner">
    <div class="carousel-item"  *ngFor="let item of listslider , let i = index" [class.active]="i === 0" routerLink="{{item.link}}">
      <div class="view">
        <img class="d-block w-100" [src]="this.api.URL + '/uploads/' + item.image" >
        <div class="mask rgba-black-light"></div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" style="width: 10% !important;" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"  style="    width: 15px;"  aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button"  style="width: 10% !important;" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon"  style="    width: 15px;" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <!--/.Controls-->
</div>
</section>
