<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%;">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3" >TRỢ GIÚP PHÁP LÝ VIỆT NAM</a>
  <!-- Sidebar Toggle-->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4 chinhflex">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#!">Settings</a></li>
              <li><a class="dropdown-item" href="#!">Activity Log</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" (click)="logout()" >Logout</a></li>
          </ul>
      </li>
  </ul>
</nav>

