.sua {
  display: flex !important;
    justify-content: flex-end;
    width: 80%;
}

.chinhflex {
    justify-content: flex-end;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
