.customer {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding-top: 90px ;
  padding-bottom: 200px;
}
.diemnhan_services {
  display: flex;
  color: #b69d74;
  text-align: center;
  width: 100%;
  justify-content: center;
   align-items: center;
   margin-bottom: 15px;
}
.title_services {
  text-align: center;
  color: #ffff;
  width: 100%;
}

hr {
  color: #b69d74 !important;
  margin: 0 !important;
  width: 10%;
  border: 1px solid;
  margin: 10px !important;
}


.item_customer {
  padding: 50px;
  color: #fff;
  background: rgba(0, 0, 0, .5);

  i {
    color: #b69d74;
    font-size: 35px;
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7em;
  }
  .de_testi_by span {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7em;
    color: #b69d74;
  }
}

.row_customer {
  padding-top: 30px;
}
