<app-loading *ngIf="isLoading"></app-loading>


  <main *ngIf="!isLoading">
      <div class="container-fluid px-4">
          <h1 class="mt-4">Dashboard</h1>
          <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item active">Dashboard</li>
          </ol>
          <div class="row">
              <div class="col-xl-3 col-md-6">
                  <div class="card bg-primary text-white mb-4">
                      <div class="card-body">Số lượng bài viết {{slbv}} </div>

                  </div>
              </div>
              <div class="col-xl-3 col-md-8">
                  <div class="card bg-success text-white mb-4">
                      <div class="card-body">Thông tin khách hàng {{slcxly}}</div>
                  </div>
              </div>
              <div class="col-xl-3 col-md-8">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Tài khoản 1</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-8">
              <div class="card bg-dark text-white mb-4">
                  <div class="card-body">Số lượng online 4</div>
              </div>
          </div>
          </div>
      </div>

  </main>
