<app-loading *ngIf="isLoading"></app-loading>


<div  class="news sec"  *ngIf="!isLoading">
    <div class="container">

      <span class="diemnhan_services"> <hr>Thông tin mới nhất ở đâu ?<hr></span>
      <h3 class="title_services" >TIN TỨC MỚI NHẤT</h3>

        <div class="item_listnew" style="padding-top: 30px;">
          <div class="item-new" style="margin-bottom: 20px;"  *ngFor="let item of newfeed">
            <a class="image-over-new" routerLink="/{{item.link}}">
              <img width="300" height="300" class="block h-full w-full object-cover transition-all hover:scale-[1.05]" style="color: transparent;" [src]="this.api.URL + '/uploads/' + item.image" >
            </a>
            <div class="content-new">
              <div class="title-new full">
                <a class="href-new" routerLink="/{{item.link}}">
                <h3 title="{{item.title}}" >{{item.title}}</h3>
              </a>
            </div>
            <div class="author-new">
              <div class="container-author-new">
                <a  class="author">
                  <span >Đăng bởi: ADMIN</span>
                </a>
                  <span  class="date">
                    <svg  stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                      <path  d="M12.5 7.25a.75.75 0 0 0-1.5 0v5.5c0 .27.144.518.378.651l3.5 2a.75.75 0 0 0 .744-1.302L12.5 12.315V7.25Z"></path><path  d="M12 1c6.075 0 11 4.925 11 11s-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1ZM2.5 12a9.5 9.5 0 0 0 9.5 9.5 9.5 9.5 0 0 0 9.5-9.5A9.5 9.5 0 0 0 12 2.5 9.5 9.5 0 0 0 2.5 12Z"></path></svg>
                      <span >{{item.updated_at | date :'longDate'}}</span>
                    </span>
                  </div>
                </div>
            <div class="description-new" >
              <p style="margin: 0;" [innerText]="extractDescriptionPart(item.description)">

              </p>
            </div>

            <div class="button_next">
              <p class="title-text-button" style="font-style: italic; font-weight: bold; margin: 0;">
                <small class="text-success">Đọc thêm &gt;&gt;</small>
              </p>
            </div>
              </div>
            </div>
        </div>
    </div>
</div>
