<div class="customer">
  <div class="container">
    <span class="diemnhan_services"> <hr>Lý do nên chọn chúng tôi<hr></span>
    <h3 class="title_services">TẠI SAO CHỌN CHÚNG TÔI </h3>
    <div class="description" style="color: #6e6d6d; padding-top: 40px;"><p style="margin: 0;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Khi bạn tìm kiếm một đối tác pháp lý, có nhiều lý do tại sao bạn nên chọn chúng tôi. Với đội ngũ chuyên gia pháp lý xuất sắc, chúng tôi cam kết mang đến cho bạn những lợi ích và giá trị tốt nhất. Dưới đây là những điểm nổi bật khiến chúng tôi trở thành lựa chọn đáng tin cậy cho nhu cầu pháp lý của bạn</font></font></p></div>
    <section class="success" style="padding-top: 40px;">
      <div class="container">
          <div class="row row_success">
            <div class="quangcao khung_success">
              <div class="row row_quangcao">
                  <div class="col-lg-3 col-md-3 col-xs-12 col_quangcao">
                      <div class="item_quangcao item_success">
                          <div class="icon_quangcao icon_success">
                            <i class="fa-solid fa-star"></i>
                          </div>
                          <div class="des_quangcao">
                           <h3 class="des_quangcao_title des_success_title">
                            <a href="#" title="" style="color: #ffffff;font-size: 20px;">Nhiều năm kinh nghiệm</a>
                          </h3>

                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-xs-12 col_quangcao">
                    <div class="item_quangcao item_success">
                        <div class="icon_quangcao icon_success">
                          <i class="fa-solid fa-clock"></i>
                        </div>
                        <div class="des_quangcao">
                         <h3 class="des_quangcao_title des_success_title">
                          <a href="#" title="" style="color: #ffffff;font-size: 20px;">Xử lý công việc 24/24</a>
                        </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 col_quangcao">
                  <div class="item_quangcao item_success">
                      <div class="icon_quangcao icon_success">
                        <i class="fa-solid fa-comments-dollar"></i>
                      </div>
                      <div class="des_quangcao">
                       <h3 class="des_quangcao_title des_success_title">
                        <a href="#" title="" style="color: #ffffff;font-size: 20px;">Chi phí dịch vụ cạnh tranh</a>
                      </h3>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-12 col_quangcao">
                <div class="item_quangcao item_success">
                    <div class="icon_quangcao icon_success">
                      <i class="fa-solid fa-gauge-high"></i>
                    </div>
                    <div class="des_quangcao">
                     <h3 class="des_quangcao_title des_success_title">
                      <a href="#" title="" style="color: #ffffff;font-size: 20px;">
                        Chế độ hậu mãi xuyên suốt</a>
                    </h3>
                    </div>
                </div>
            </div>
              </div>
          </div>
          </div>
      </div>
  </section>
  </div>
</div>
