<form [formGroup]="form80">
  <div class="form_child">

    <div class="header-child header-a position-relative">
      <div class="stt"><span>K</span></div>
      <div class="content-header">
        <h2 class="header-title-child d-flex flex-column">{{'SECTION_K.TITLE' | translate}}</h2>
      </div>
    </div>

    <div class="row" style="padding-top: 15px;" [formGroupName]="sectionGroupContainer">
      <div class="col-md-12">
        <div class="d-flex flex-column pb-3">
          <label class="d-block font-weight-bold mb-2 title-input">
            36. {{'SECTION_K.36' | translate}}
          </label>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_1' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch offence'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch offence'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_2' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch crime'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch crime'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_3' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch charged dv'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch charged dv'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_4' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch subject dv'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch subject dv'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_5' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch interpol'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch interpol'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_6' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch sex offence'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch sex offence'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_7' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch sex reg'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch sex reg'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_8' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch acq'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch acq'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_9' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch left'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch left'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_10' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch sec'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch sec'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_11' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch war'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch war'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_2' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch crim org'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch crim org'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_13' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch violent org'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch violent org'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_14' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch mil'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch mil'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_15' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch train'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch train'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_16' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch smug'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch smug'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_17' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch dep'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch dep'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_18' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch overstay'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch overstay'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
            <div class="col-md-8">
              <div class="d-flex flex-column">
                <label class="d-block font-weight-bold mb-2 title-input title-input-bf">
                  {{'SECTION_K.36_19' | translate}}
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex gap-3">
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch debt'" [value]="'2'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
                </div>
                <div class="d-flex align-items-center">
                  <p-radioButton [formControlName]="'ap.ch debt'" [value]="'1'"  />
                  <label for="male" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row pb-3">
         <div class="col-md-6">
          <div class="d-flex flex-column" style="width: 100%;">
            <label class="d-block font-weight-bold mb-2 title-input">
              {{'SECTION_K.36_20' | translate}}
            </label>
          </div>
         </div>
         <div class="col-md-6">
          <div class="d-flex gap-3">
            <textarea
                  rows="7"
                  cols="70"
                  [id]="inputId"
                  pInputTextarea
                  placeholder="Nhập thông tin"
                  style="resize: none;"
                  formControlName="ap.ch dtl">
            </textarea>
          </div>
        </div>
        </div>
      </div>
    </div>

  </div>
  <p-toast position="bottom-right" key="br" [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
  <div class="grid grid-nogutter justify-content-end d-flex">
    <p-button  [label]="'SECTION_HOME.BUTTON_BACK' | translate" severity="secondary" (click)="goBack()" class="back" />
    <button
    (click)="nextStep(sectionGroupContainer)"
      pButton
      pRipple
      [label]="'SECTION_HOME.BUTTON_NEXT' | translate"
      type="button"
      class="p-button-success submit_button"
      >
    </button>
  </div>

  </form>
