<form [formGroup]="form80">
  <div class="form_child">

    <div class="header-child header-a position-relative">
      <div class="stt"><span>J</span></div>
      <div class="content-header">
        <h2 class="header-title-child d-flex flex-column">{{'SECTION_J.TITLE' | translate}}
        </h2>
      </div>
    </div>

    <div class="row" style="padding-top: 15px;" [formGroupName]="sectionGroupContainer">

      <div class="col-md-12">
        <div class="d-flex flex-column pb-3">
          <label class="d-block font-weight-bold mb-2 title-input">
            34. {{'SECTION_J.34' | translate}}
          </label>
          <div class="d-flex flex-wrap gap-3 align-content-center pb-2" style="height: 100%;">
            <div class="d-flex align-items-center">
              <p-radioButton [formControlName]="'ap.inaus'" [value]="'2'"  />
              <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
            </div>
            <div class="d-flex align-items-center">
              <p-radioButton [formControlName]="'ap.inaus'" [value]="'1'"  />
              <label for="female" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
            </div>
          </div>

          <span class="error-message" *ngIf="form80service.getErrorMessage(sectionGroupContainer,'ap.inaus') != ''">
            {{ form80service.getErrorMessage(sectionGroupContainer, 'ap.inaus') }}
          </span>

          <div class="d-flex rounded flex-column pb-3 pt-2"  *ngIf="form80.get([sectionGroupContainer, 'ap.inaus']).value === '2'">
            <div class="row">
              <label class="d-block font-weight-bold mb-2 title-input" style="color: red; text-transform: uppercase;">
                {{'SECTION_HOME.INFORMATION' | translate}}
              </label>

              <div class="col-md-4 d-flex align-items-end">
                <div class="d-flex flex-column pb-3" style="width: 100%;">
                  <label class="d-block font-weight-bold mb-2 title-input">
                    {{'SECTION_J.34_1' | translate}}
                  </label>
                  <input type="text" formControlName="ap.in aus visa type 1" [placeholder]="placeholder" pInputText />
                </div>
              </div>

              <div class="col-md-4 d-flex align-items-end">
                <div class="d-flex flex-column pb-3" style="width: 100%;">
                  <label class="d-block font-weight-bold mb-2 title-input">
                    {{'SECTION_J.34_2' | translate}}
                  </label>
                  <input type="text" formControlName="ap.in aus reason 1" [placeholder]="placeholder" pInputText />
                </div>
              </div>

              <div class="col-md-4 d-flex align-items-end">
                <div class="d-flex flex-column pb-3" style="width: 100%;">
                  <label class="d-block font-weight-bold mb-2 title-input">
                    {{'SECTION_J.34_3' | translate}}
                  </label>
                  <input type="text" formControlName="ap.in aus noe 1" [placeholder]="placeholder" pInputText />
                </div>
              </div>

              <div class="col-md-4 d-flex align-items-end">
                <div class="d-flex flex-column pb-3" style="width: 100%;">
                  <label class="d-block font-weight-bold mb-2 title-input">
                    {{'SECTION_J.34_4' | translate}}
                  </label>
                  <input type="text" formControlName="ap.in aus poe 1" [placeholder]="placeholder" pInputText />
                </div>
              </div>

                <div class="col-md-2 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{'SECTION_J.34_5' | translate}}
                    </label>
                    <p-calendar placeholder="dd/mm/yyyy"
                    formControlName="ap.in aus visa doa 1"
                    (onSelect)="this.form80service.onDateChange(
                      $event, this.form80 , 'ap.in aus visa doa 1' , sectionGroupContainer , null , 'date'
                   )"
                   (onInput)="this.form80service.onInputChange(
                       $event , 'ap.in aus visa doa 1' , this.form80 , sectionGroupContainer ,null , 'date'
                   )"
                   [readonlyInput]="false"
                    [dateFormat]="'dd/mm/yy'">
                      <ng-template pTemplate="date" let-date>
                          <span>
                              {{ date.day }}
                          </span>
                      </ng-template>
                  </p-calendar>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="d-flex flex-column pb-3">
          <label class="d-block font-weight-bold mb-2 title-input">
            35. {{'SECTION_J.35' | translate}}
          </label>
          <div class="d-flex flex-wrap gap-3 align-content-center pb-2" style="height: 100%;">
            <div class="d-flex align-items-center">
              <p-radioButton [formControlName]="'ap.prev in aus'" [value]="'2'"  />
              <label for="male" class="ms-2">{{'SECTION_HOME.YES' | translate}}</label>
            </div>
            <div class="d-flex align-items-center">
              <p-radioButton [formControlName]="'ap.prev in aus'" [value]="'1'"  />
              <label for="female" class="ms-2">{{'SECTION_HOME.NO' | translate}}</label>
            </div>
          </div>

          <span class="error-message" *ngIf="form80service.getErrorMessage(sectionGroupContainer,'ap.prev in aus') != ''">
            {{ form80service.getErrorMessage(sectionGroupContainer, 'ap.prev in aus') }}
          </span>

          <div class="d-flex rounded flex-column pb-3 pt-2"  *ngIf="form80.get([sectionGroupContainer, 'ap.prev in aus']).value === '2'">
            <div class="row" [formGroup]="itemthongtin2">
              <label class="d-block font-weight-bold mb-2 title-input" style="color: red; text-transform: uppercase;">
                {{'SECTION_HOME.INFORMATION' | translate}}
              </label>

              <div class="col-md-4 d-flex align-items-end">
                <div class="d-flex flex-column pb-3" style="width: 100%;">
                  <label class="d-block font-weight-bold mb-2 title-input">
                    {{'SECTION_J.35_1' | translate}}
                  </label>
                  <input type="text"
                  [ngClass]="{'valid': itemthongtin2.get(['ap.prev in aus visa type']).invalid && (itemthongtin2.get(['ap.prev in aus visa type']).dirty || itemthongtin2.get(['ap.prev in aus visa type']).touched)}"
                  formControlName="ap.prev in aus visa type" [placeholder]="placeholder" pInputText />
                </div>
              </div>

              <div class="col-md-4 d-flex align-items-end">
                <div class="d-flex flex-column pb-3" style="width: 100%;">
                  <label class="d-block font-weight-bold mb-2 title-input">
                    {{'SECTION_J.35_2' | translate}}
                  </label>
                  <input type="text" formControlName="ap.prev in aus reason" [placeholder]="placeholder" pInputText />
                </div>
              </div>

              <div class="col-md-4 d-flex align-items-end">
                <div class="d-flex flex-column pb-3" style="width: 100%;">
                  <label class="d-block font-weight-bold mb-2 title-input">
                    {{'SECTION_J.35_3' | translate}}
                  </label>
                  <input type="text" formControlName="ap.prev in aus noe" [placeholder]="placeholder" pInputText />
                </div>
              </div>

              <div class="col-md-4 d-flex align-items-end">
                <div class="d-flex flex-column pb-3" style="width: 100%;">
                  <label class="d-block font-weight-bold mb-2 title-input">
                    {{'SECTION_J.35_4' | translate}}
                  </label>
                  <input type="text"
                  [ngClass]="{'valid': itemthongtin2.get(['ap.prev in aus poe']).invalid && (itemthongtin2.get(['ap.prev in aus poe']).dirty || itemthongtin2.get(['ap.prev in aus poe']).touched)}"
                  formControlName="ap.prev in aus poe" [placeholder]="placeholder" pInputText />
                </div>
              </div>

                <div class="col-md-2 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{'SECTION_J.35_5' | translate}}
                    </label>
                    <p-calendar placeholder="dd/mm/yyyy"
                    formControlName="ap.prev in aus visa doa"
                    (onSelect)="this.form80service.onDateChange(
                      $event , null , 'ap.prev in aus visa doa' , null , this.itemthongtin2 , 'date'
                   )"
                   (onInput)="this.form80service.onInputChange(
                       $event , 'ap.prev in aus visa doa' , null , null , this.itemthongtin2 , 'date'
                   )"
                   [readonlyInput]="false"
                    [dateFormat]="'dd/mm/yy'">
                      <ng-template pTemplate="date" let-date>
                          <span>
                              {{ date.day }}
                          </span>
                      </ng-template>
                  </p-calendar>
                  </div>
                </div>

                <div class="col-md-2 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <label class="d-block font-weight-bold mb-2 title-input">
                      {{'SECTION_J.35_6' | translate}}
                    </label>
                    <p-calendar placeholder="dd/mm/yyyy"
                    formControlName="ap.prev in aus visa dod"
                    (onSelect)="this.form80service.onDateChange(
                        $event , null , 'ap.prev in aus visa dod' , null , this.itemthongtin2 , 'date'
                    )"
                    (onInput)="this.form80service.onInputChange(
                        $event , 'ap.prev in aus visa dod' , null , null , this.itemthongtin2 , 'date'
                    )"
                    [readonlyInput]="false"
                    [dateFormat]="'dd/mm/yy'">
                      <ng-template pTemplate="date" let-date>
                          <span>
                              {{ date.day }}
                          </span>
                      </ng-template>
                  </p-calendar>
                  </div>
                </div>

                <div class="col-md-2 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                      <p-toast />
                      <p-confirmDialog />
                      <p-button [disabled]="this.thongtinarray2.length >= 3" (onClick)="confirm(this.thongtinarray2 , this.itemthongtin2)" [label]="'SECTION_HOME.BUTTON_INFORMATION' | translate" severity="danger" />
                  </div>
                </div>
            </div>

            <div class="row">
              <label class="d-block font-weight-bold mb-2 title-input" style="color: red; text-transform: uppercase;">
                {{'SECTION_HOME.LIST_INFORMATION' | translate}}
              </label>
                <div class="col-md-11 d-flex align-items-end">
                  <div class="d-flex flex-column pb-3" style="width: 100%;">
                    <p-table
                    [value]="thongtinarray2"
                    [tableStyle]="{ 'min-width': '65rem' }">
                    <!-- Header -->
                    <ng-template pTemplate="header">
                        <tr>
                            <th>#</th>
                            <th>{{'SECTION_J.35_1' | translate}}</th>
                            <th>{{'SECTION_J.35_2' | translate}}</th>
                            <th>{{'SECTION_J.35_3' | translate}}</th>
                            <th>{{'SECTION_J.35_4' | translate}}</th>
                            <th>{{'SECTION_J.35_5' | translate}}</th>
                            <th>{{'SECTION_J.35_6' | translate}}</th>
                        </tr>
                    </ng-template>

                    <!-- Body -->
                    <ng-template pTemplate="body" let-row let-i="rowIndex" let-thongtin>
                        <tr>
                            <td>
                              <svg width="20px" height="20px" viewBox="0 0 512 512" (click)="remove(i, thongtin , this.thongtinarray2)" style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"/></svg>
                            </td>
                            <td>{{thongtin['ap.prev in aus visa type']}}</td>
                            <td>{{thongtin['ap.prev in aus reason']}}</td>
                            <td>{{thongtin['ap.prev in aus noe']}}</td>
                            <td>{{thongtin['ap.prev in aus poe']}}</td>
                            <td>{{thongtin['ap.prev in aus visa doa']}}</td>
                            <td>{{thongtin['ap.prev in aus visa dod']}}</td>
                        <tr>
                    </ng-template>
                </p-table>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <p-toast position="bottom-right" key="br" [breakpoints]="{ '920px': { left: '50%', right: 'auto', transform: 'translateX(-50%)', bottom: '20px', width: 'calc(100% - 32px)', maxWidth: '360px' } }" />
  <div class="grid grid-nogutter justify-content-end d-flex">
    <p-button [label]="'SECTION_HOME.BUTTON_BACK' | translate" severity="secondary" (click)="goBack()" class="back" />
    <button (click)="nextStep(sectionGroupContainer , ['ap.prev array'] , [this.thongtinarray2])"
      pButton
      pRipple
      [label]="'SECTION_HOME.BUTTON_NEXT' | translate"
      type="button"
      class="p-button-success submit_button"
      >
    </button>
  </div>

  </form>
