


.skill {
  background-color: #f8fafc;
  padding: 30px 0;
}
.category-item .item-wrapper {
  // background: linear-gradient(45deg,, #e0278b);
  background: linear-gradient(to right, #1A8B83, #ff8f28cc)
}
.category-item .item-wrapper {
  position: relative;
  padding: 25px 15px;
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .8rem;
  overflow: hidden;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, .2);
  transition: box-shadow 350ms ease-out, transform 350ms ease-out;
  cursor: pointer;
}

.in-one-line {
  color: #ffff;
  font-size: 18px;
    font-weight: 700;
}


.theme-table {
    background-size: cover;
    background-image: url(https://primefaces.org/cdn/primeng/images/landing/wave-light-alt-gray.svg);
}

.table-container {
  width: 900px;
  box-shadow: var(--home-card-shadow);
}

.landing .box {
  border: 1px solid var(--home-border-color);
  border-radius: 10px;
  background-color: var(--home-box-bg);
  position: relative;
  z-index: 0;
}

.overflow-hidden {
  overflow: hidden !important;
}
.p-5 {
  padding: 2rem !important;
}


.landing .box:before, .landing .box:after {
  content: "";
  position: absolute;
  inset: -2px;
  border: 2px solid var(--home-box-ring-color);
  transition: all .5s;
  animation: clippath 3s infinite linear;
  border-radius: 10px;
  opacity: 0;
  z-index: -1;
}


::ng-deep {
  .p-paginator .p-paginator-pages .p-paginator-page {
    min-width: 2rem;
    height: 2rem;
  }
  .p-paginator-page.p-highlight {
    border-radius: 50%;
  }
  .p-paginator .p-paginator-pages .p-paginator-page:hover {
    border-radius: 50% !important;
  }
  ul {
    margin: 0;
  }
  .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .p-datatable-header {
    background-color: #1A8B83;
    border: 0px ;
    border-radius: 10px;
    color: #fff;
  }
  .p-datatable-wrapper {
    margin-top: 15px;
  }

  .p-datatable-thead {
    border-radius: 10px;
  }
  .p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
    border-color: none;
}

.p-datatable-table {
  min-width: 500px;
}

.p-inputtext {
  padding: 0.5rem !important;
  border: none !important;
}
.p-datatable .p-datatable-tbody > tr > td {
  border-width: 0 0 1px 0 !important;
  color: black !important;
  border-color: #e5e7eb;
}
}
@media screen and (max-width: 800px) {
  .theme-table {
    padding: 0 0.5rem !important;
  }
  .table-container {
    padding: 0.5rem !important;
  }

  .table-header {
      flex-direction: column !important;
      align-items: normal;
      justify-content: start;
      span {
        margin-bottom: .5rem;
      }
  }
}

