

<div  class="introduce" style="padding-bottom: 0 !important;" *ngIf="this.item">
    <div class="row">
      <div class="cot1 col-xl-5 col-xs-12"><img [src]="this.api.URL + '/uploads/' + logo[0].image" style="margin-bottom: 20px;" alt="" width="300px"></div>
      <div class="cot  col-xl-7 col-xs-12">
        <p class="chungtoilaai">Chúng tôi là ai ?</p>
        <p class="main_tittle">VỀ CHÚNG TÔI</p>
        <p class="chungtoilaai">Trợ Giúp Pháp Lý Việt Nam tự hào là một nguồn tài nguyên đáng tin cậy và hữu ích về pháp lý tại Việt Nam. Chúng tôi cam kết cung cấp thông tin và hỗ trợ pháp lý đáng tin cậy, giúp bạn hiểu rõ và giải quyết các vấn đề liên quan đến pháp luật.</p>
        <p class="chungtoilaai">Với sự phức tạp và thay đổi liên tục của hệ thống pháp luật, việc hiểu rõ quy định và quy trình pháp lý là rất quan trọng để bảo vệ quyền lợi của bạn. Tại Trợ Giúp Pháp Lý Việt Nam, chúng tôi cung cấp thông tin pháp lý dễ hiểu và chính xác về các lĩnh vực như hợp đồng, lao động, doanh nghiệp, gia đình, bất động sản, và nhiều lĩnh vực pháp lý khác.</p>
        <div class="div_button">
          <button class="button_xemthem">XEM THÊM</button>
        </div>
      </div>
    </div>
</div>
